#error {
  position: relative;
  height: 100vh;
}

#error .error {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.error {
  max-width: 560px;
  width: 100%;
  padding-left: 160px;
  line-height: 1.1;
}

.error .error-image {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 140px;
  height: 140px;
  background-image: url('../../images/whiteemoji.png');
  background-size: cover;
}

.error .error-image:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(2.4);
  -ms-transform: scale(2.4);
  transform: scale(2.4);
  border-radius: 50%;
  background-color: rgb(144, 14, 44);
  z-index: -1;
}

.error h1 {
  font-size: 65px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 10px;
  color: #151723;
  text-transform: uppercase;
}

.error h2 {
  font-size: 21px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 1em;
  text-transform: uppercase;
  color: #151723;
}

.error p {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

.error a {
  font-family: 'Nunito', sans-serif;
  display: inline-block;
  font-weight: 700;
  border-radius: 40px;
  text-decoration: none;
  color: #388dbc;
}

.error-box {
  margin-left: 7rem;
}

.error-info-box {
  position: absolute;
}

.error-button {
  background-color: #727979 !important;
}

@media only screen and (max-width: 767px) {
  .error .error-image {
    width: 110px;
    height: 110px;
  }
  .error {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 110px;
  }
}
